<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.himakeit.lightmusic">

    <!-- 允许应用获取网络信息状态，如当前的网络连接是否有效。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用可以访问网络。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用写入外部存储。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用读取外部存储。 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用访问手机状态。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NetSearchWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PlaylistManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LocalMusicManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RecentPlaylistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PlaylistActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.RadioDetailActivity" />
        <activity android:name=".ui.activity.AlbumsDetailActivity" />
        <activity android:name=".ui.activity.LockActivity"></activity>
    </application>

</manifest>